.App {
  text-align: center;
}
.shape-container {
position: relative; left: 40%;
  background: aquamarine;
  height: 23em;
  width: 23em;
  ;
}
// .shape {
//   background: gold;
//   position: relative;
//   left: 40%;
//   height: 11em;
//   width: 11em;;

// }