html {
  /* text-align: center; */
  background-color: #999;
}

.App {
  width: 100%;
  height: auto;
  font-family: "Open Sans", sans-serif;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 1em;
  background-color: #fafafa;
}

.underline {
  width: 100%;
  border-bottom: 1px solid black;
}

.grid-item-1 {
  position: relative;
  background-color: #fafafa;
}

.project-title {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.box-title {
  position: absolute;
  top: 0;
  left: 0.5em;
}

.size-input {
  position: absolute;
  bottom: 0.3em;
  right: 0.5em;
}

#size-underline {
  position: absolute;
  top: 9em;
}

.grid-item-2 {
  background-color: #fafafa;
  position: relative;
}

.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: black 1px solid;
  position: absolute;
  top: 0.3em;
  right: 0.5em;
  background-color: #fafafa;
}

.checkbox:checked {
  background-color: #6c6cc7;
}

.checkbox:focus {
  outline: none;
}

.number-selector {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 0em;
  padding-right: .3em;
  border: none;
  background-color: #fafafa;
  text-align: right;
}

.number-selector:focus {
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

#clr-label {
  position: absolute;
  bottom: 0.3em;
  left: 0.5em;
}

#clr-input {
  position: absolute;
  bottom: 0.3em;
  right: 0.5em;
}

#clr-underline {
  position: absolute;
  top: 4em;
}

#img-label {
  position: absolute;
  bottom: 0.3em;
  left: 0.5em;
}

#img-checkbox {
  position: absolute;
  bottom: 0.3em;
  right: 0.5em;
}

#img-underline {
  position: absolute;
  top: 6em;
}

#url-label {
  position: absolute;
  bottom: 0.3em;
  left: 0.5em;
}

#img-input {
  position: absolute;
  bottom: 0.3em;
  right: 0.5em;
}

#url-underline {
  position: absolute;
  top: 9em;
}

.grid-item-3 {
  background-color: #fafafa;
  position: relative;
}

#border-width {
  position: absolute;
  bottom: 0.3em;
  right: 0.5em;
}

#border-width-label {
  position: absolute;
  bottom: 0.3em;
  left: 0.5em;
}

#border-w-underline {
  position: absolute;
  top: 4em;
}

#border-c-underline {
  position: absolute;
  top: 6em;
}

#border-color {
  position: absolute;
  bottom: 0.3em;
  right: 0.5em;
}

#border-color-label {
  position: absolute;
  bottom: 0.3em;
  left: 0.5em;
}

.grid-item-4 {
  background-color: #fafafa;
  position: relative;
}

#blur-label {
  position: absolute;
  bottom: 0.3em;
  left: 0.5em;
}

#blur {
  position: absolute;
  bottom: 0.3em;
  right: 0.5em;
}

#blur-underline {
  position: absolute;
  top: 4em;
}

#shadow-clr {
  position: absolute;
  bottom: 0.3em;
  right: 0.5em;
}

#shadow-clr-label {
  position: absolute;
  bottom: 0.3em;
  left: 0.5em;
}

#shadow-clr-underline {
  position: absolute;
  top: 6em;
}

#alpha {
  position: absolute;
  bottom: 0.3em;
  right: 0.5em;
}

#alpha-label {
  position: absolute;
  bottom: 0.3em;
  left: 0.5em;
}

#alpha-underline {
  position: absolute;
  top: 9em;
}

.body {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
  grid-column-gap: .5em;
}

.shape-container {
  background: #888;
  width: 65%;
  height: 75%;
  position: absolute;
  top: 3.5em;
  left: 1.5em;
  border-radius: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shape-grid-container {
  position: relative;
  margin-top: .5em;
  height: 30em;
}

.output-container {
  margin-top: .5em;
}

.csshtml {
  font-family: monospace;
}

.html-css-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: monospace;
  margin: 1em;
  padding: 1em;
  background-color: #888;
  text-align: center;
  width: 75%;
}

@media only screen and (max-width: 675px) {
  .body {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .grid-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'a b' 'a b';
  }
  .grid-item-1 {
    grid-area: 'a';
  }
  .grid-item-2 {
    grid-area: 'a';
  }
  .grid-item-3 {
    grid-area: 'b';
  }
  .grid-item-4 {
    grid-area: 'b';
  }
}
/*# sourceMappingURL=styles.css.map */